<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="filePath" value="..\..\..\SampleData\" />--> <!--Use this file path for debugging and testing-->
    <add key="filePath" value=".\SampleData\" />     
    <add key="validFileName" value="UseCase1_Valid.txt" />
    <add key="invalidFileName" value="UseCase1_InValid.txt" />

    <add key="numberOfLinesPerEntry" value="4" />
    <add key="numberOfCharactersPerLine" value="27" />
    <add key="numberOfCharactersPerSegment" value="3"/>

    <add key="minOptionValue" value="1"/>
    <add key="maxOptionValue" value="5"/>
  </appSettings>  
</configuration>